.btn {
  display: flex;
  transform-style: preserve-3d;
}

.btn::before {
  position: absolute;
  z-index: -1;
  height: 500%;
  aspect-ratio: 1 / 1;
  margin: auto;
  pointer-events: none;
  content: "";
  background-color: transparent;
  border-radius: 5000px;
  transform: translateZ(-1px);
}

@media (hover: hover) {
  .btn:hover::before,
  .btn:focus-visible::before {
    background-image: radial-gradient(
      circle at center,
      var(--color-indigo-800),
      30%,
      transparent
    );
    filter: blur(20px);
  }
}
