.wave {
  display: inline-block;
  width: 2rem;
}

@media (prefers-reduced-motion: no-preference) {
  .wave {
    transform-origin: 70% 70%;
    animation: wave 2.5s infinite ease-in-out;
  }
}

@keyframes wave {
  0% {
    transform: rotate(0);
  }

  10% {
    transform: rotate(15deg);
  }

  20% {
    transform: rotate(-9deg);
  }

  30% {
    transform: rotate(15deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  /* Pause animation for remaining 40% of the time */
  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
