@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: backToBlack;
  src: url("./fonts/back-to-black-bold.ttf");
}

@theme {
  /* Fonts */
  --font-header: "backToBlack";

  /* Colors */
  --color-border: hsl(240 5.9% 90%);
  --color-background: hsl(0 0% 7%);

  /* Neutral Color: Tailwind Slate */
  --color-primary: var(--color-indigo-600);

  --color-accent-red-50: hsl(360 100% 97%);
  --color-accent-red-100: hsl(360 82% 89%);
  --color-accent-red-200: hsl(360 77% 78%);
  --color-accent-red-300: hsl(360 71% 66%);
  --color-accent-red-400: hsl(360 64% 55%);
  --color-accent-red-500: hsl(360 67% 44%);
  --color-accent-red-600: hsl(360 72% 38%);
  --color-accent-red-700: hsl(360 79% 32%);
  --color-accent-red-800: hsl(360 85% 25%);
  --color-accent-red-900: hsl(360 92% 20%);
  --color-accent-red: var(--color-accent-red-400);

  /* Spacing */

  /* Shadow */
}

@layer base {
  .dark {
    --color-border: hsl(240 3.7% 15.9%);
  }
}
