@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: backToBlack;
  src: url("./fonts/back-to-black-bold.ttf");
}

@theme {
  /* Fonts */
  --font-header: "backToBlack";

  /* Colors */
  --color-border: hsl(240 5.9% 90%);
  --color-background: var(--color-slate-950);

  /* Neutral Color: Tailwind Slate
     Accent Color: Tailwind Indigo */
  --color-primary-50: hsl(360 100% 97%);
  --color-primary-100: hsl(360 82% 89%);
  --color-primary-200: hsl(360 77% 78%);
  --color-primary-300: hsl(360 71% 66%);
  --color-primary-400: hsl(0 64% 55%);
  --color-primary-500: hsl(360 67% 44%);
  --color-primary-600: hsl(360 72% 38%);
  --color-primary-700: hsl(360 79% 32%);
  --color-primary-800: hsl(360 85% 25%);
  --color-primary-900: hsl(360 92% 20%);
  --color-firebird-theme: var(--color-primary-400);

  --color-secondary-50: hsl(38 65% 95%);
  --color-secondary-100: hsl(38 85% 92%);
  --color-secondary-200: hsl(39 83% 84%);
  --color-secondary-300: hsl(39 83% 77%);
  --color-secondary-400: hsl(39 83% 69%);
  --color-secondary-500: hsl(39 83% 61%);
  --color-secondary-600: hsl(39 53% 49%);
  --color-secondary-700: hsl(39 53% 37%);
  --color-secondary-800: hsl(39 53% 24%);
  --color-secondary-900: hsl(38 52% 12%);
  --color-secondary-950: hsl(38 42% 7%);

  --color-accent-azure-100: hsl(211 100% 90%);
  --color-accent-azure-200: hsl(210 100% 80%);
  --color-accent-azure-300: hsl(211 100% 90%);
  --color-accent-azure-400: hsl(210 100% 60%);
  --color-accent-azure-500: hsl(210 100% 50%);
  --color-accent-azure-600: hsl(210 100% 40%);
  --color-accent-azure-700: hsl(210 100% 30%);
  --color-accent-azure-800: hsl(210 100% 20%);
  --color-accent-azure-900: hsl(211 100% 10%);

  /* Spacing */
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.5rem;
  --spacing-6: 2rem;
  --spacing-7: 3rem;
  --spacing-8: 4rem;
  --spacing-9: 6rem;
  --spacing-10: 8rem;
  --spacing-11: 12rem;
  --spacing-12: 16rem;
  --spacing-13: 24rem;
  --spacing-14: 32rem;
  --spacing-15: 40rem;
  --spacing-16: 48rem;

  --text-header: var(--text-4xl);
  --text-subheader: var(--text-xl);

  /* Shadow */
  --shadow-slate-color: 220deg 89% 1%;

  /* 0.75 oomph, 0.5 crispy, 0.75 resolution */
  --shadow-elevation-low:
    0.4px 0.5px 0.7px hsl(var(--shadow-slate-color) / 0.43),
    0.7px 1px 1.4px -1.2px hsl(var(--shadow-slate-color) / 0.43),
    1.8px 2.5px 3.5px -2.5px hsl(var(--shadow-slate-color) / 0.43);
  --shadow-elevation-medium:
    0.4px 0.5px 0.7px hsl(var(--shadow-slate-color) / 0.45),
    1.4px 2px 2.7px -0.8px hsl(var(--shadow-slate-color) / 0.45),
    3.7px 5px 7px -1.7px hsl(var(--shadow-slate-color) / 0.45),
    9px 12.3px 17.1px -2.5px hsl(var(--shadow-slate-color) / 0.45);
  --shadow-elevation-high:
    0.4px 0.5px 0.7px hsl(var(--shadow-slate-color) / 0.42),
    2.8px 3.9px 5.4px -0.4px hsl(var(--shadow-slate-color) / 0.42),
    5.4px 7.3px 10.2px -0.7px hsl(var(--shadow-slate-color) / 0.42),
    8.9px 12.1px 16.9px -1.1px hsl(var(--shadow-slate-color) / 0.42),
    14.3px 19.5px 27.2px -1.4px hsl(var(--shadow-slate-color) / 0.42),
    22.3px 30.5px 42.5px -1.8px hsl(var(--shadow-slate-color) / 0.42),
    34px 46.4px 64.7px -2.1px hsl(var(--shadow-slate-color) / 0.42),
    50.2px 68.4px 95.5px -2.5px hsl(var(--shadow-slate-color) / 0.42);

  /* Animations */
  --animate-breathe: breathe 2s ease-in-out infinite;
  --animate-travel: travel-across-screen linear 70s infinite alternate both;

  @keyframes breathe {
    50% {
      opacity: 0.5;
    }
  }

  @keyframes travel-across-screen {
    to {
      transform: translate(var(--destination-x), var(--destination-y));
    }
  }
}

@layer base {
  .dark {
    --color-border: hsl(240 3.7% 15.9%);
  }
}
